@media screen and (max-width:1200px) {
    #hamburger-nav{
        display: flex;
        z-index: 1;
        position: relative;
        height: 17vh;
        justify-content: space-around;
    }
    #desktop-nav{
        display: none;
    }
    #about,#membership,#live,#playlist,#contact,#shorts,.container{
        display: block;
        justify-content: center;
        margin:0;
        padding: 20px;

    }
    .nav-links-box{
        display: none;
    }
    .logo{
        display: block;
        font-size: 2rem;
        }
    
    .playlist_box{
        border-radius: 3rem;
        width: 250px;
    }
    iframe{
        width: 220px;
        height: 200px;
    }
    .pic_con{
        height: 300px;
        width: 300px;
        padding-left: 10px;
    }
    .about_video{
        padding: 10px;
    }
    .iframe_about{
        width: 300px;
    }
    nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    footer{
        display: none; 
    }
    .details_box,.details_box_small{
        width: 300px;
        padding: 1rem;
    }
    .text_h1_abt{
        font-size: 2.5rem;
        padding-left: 10px;
    }
    .pic_gap{
        gap:2rem;
    }
    .h2_mem{
        font-size: 2.5rem;
    }
}
